<div class="tab-pane fade{{#if is_first}} show active{{else}} d-none{{/if}}" id="nav-{{id}}" role="tabpanel" aria-labelledby="nav-{{id}}">
    <br/>
    {{#each items}}
      {{{this}}}
      <br/>
    {{/each}}
</div>
