{{#if log_toggle}}
<div class="d-flex flex-row-reverse">
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="btn-logscale-plot-bar-{{id}}">
        <label class="form-check-label" for="btn-logscale-plot-bar-{{id}}">log-scale</label>
    </div>
</div>
{{/if}}
<canvas id="chart-bar-{{id}}"></canvas>
<br/>
<div class="d-flex flex-row-reverse">
    <button id="btn-download-plot-{{id}}" type="button" class="d-flex align-items-center btn m-1" aria-pressed="false">
        <svg class="bi opacity-50 m-1" width="15" height="15"><use href="#download"></use></svg>
        <svg class="bi opacity-50 m-1" width="15" height="15"><use href="#card-image"></use></svg>
    </button>
</div>
