<table class="table table-striped table-hover">
  <thead>
    <tr>
      {{#each header}}
        <th scope="col">{{this}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody class="table-group-divider">
    {{#each values}}
    <tr>
      {{#each this}}
      <td>{{this}}</td>
      {{/each}}
    </tr>
    {{/each}}
  </tbody>
</table>
