**/.result/
**/*.swo
**/*.swp
**/.DS_Store
**/*.tar.gz
Cargo.lock
binary_release/
target/
etc/bootstrap.custom.css
etc/bootstrap.custom.css.map
etc/css-dist/
etc/node_modules/
etc/package-lock.json
etc/package.json
.pre-commit-config.yaml
**.old
**/*.yaml
/*.svg
/*.data
/*.json
/*.txt
