on:
    schedule:
        - cron:  '42 10 * * 1/3'
    push:

name: Rust Build

jobs:
  build_and_test:
    name: Run cargo build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release 
